# Fichiers d'environnement locaux
.env.dev
.env.local
.env.local.php
.env.*.local

# Cache, logs et vendor
/var/
/vendor/

# Secrets (production)
/config/secrets/prod/prod.decrypt.private.php

# PHPUnit
/phpunit.xml
/.phpunit.cache/

# Symfony assets
/public/bundles/
/public/assets/
/assets/vendor/
/public/uploads/
